.header {
	display: flex;
	flex-flow: nowrap;
	justify-content: space-between;
	align-items: center;

	padding: 30px 20px;
	font-weight: 700;
}

.header__nav {
	flex-grow: 1;
	display: flex;
	justify-content: flex-start;
	
}

.header__nav_menu {
	display: flex;
	flex-flow: nowrap;
	justify-content: space-between;
}

.header__nav_menu_list {
	margin-right: 20px;
}

.header__nav_menu_list:hover {
	background: linear-gradient(13.0deg, rgba(255,143,90,1) 26%, rgba(255,47,150,1) 72%); 
	-webkit-background-clip: text; 
	color: transparent;
	border-bottom: 1px solid #ff2f96;
}

.header__phone {
	margin: 0 20px;
}

.header__phone:hover {
	background: linear-gradient(13.0deg, rgba(255,143,90,1) 26%, rgba(255,47,150,1) 72%); 
	-webkit-background-clip: text; 
	color: transparent;
}

.button__size_circle {
	display: none;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 1px solid #ff2f96;
	background-color: transparent;
	cursor: pointer;
	transition: 0.3s;
}

/* ============ burger меню ============ */


@media (max-width: 824px) {
	.header__nav_click {
		transform: translateX(180px);
	}

	.header__nav {
		position: absolute;
		background-color: #fff;
		border: 1px solid #ff2f96;
		border-radius: 4px;
		top: 120px;
		left: -200px;
		width: 150px;
		z-index: 20;
		transition: all 300ms cubic-bezier(.9, 0, .33, 1);
	}

	.header__nav_menu {
		flex-direction: column;
	}

	.header__nav_menu li {
		margin: 20px 40px;
	}
}

@media (max-width: 624px) {
	.header__button {
		display: none;
	}

	.button__size_circle {
		display: block;
	}
}

.burger {
	display: none;
	margin-right: 10px;
	width: 30px;
	height: 30px;
	background-color: transparent;
	position: relative;
}

@media (max-width: 824px) {
	.burger {
		display: inline-block;
	}
}

.burger-btn span,
.burger-btn span::before,
.burger-btn span::after {
	position: absolute;
	left: 50%;
	margin-left: -15px;
	top: 50%;
	margin-top: -2px;
	width: 30px;
	height: 3px;
	transition: 0.4s;
	
	background: linear-gradient(13.0deg, rgba(255,143,90,0.9) 26%, rgba(255,47,150,0.95) 72%); 
}

.burger-btn span::before,
.burger-btn span::after {
	content: '';
}

.burger-btn span::before {
	transform: translateY(-8px);
}

.burger-btn span::after {
	transform: translateY(8px);
}

.burger-btn-click span {
	width: 0;
	margin-left: 0;
}
.burger-btn-click span::after {
	transform: rotate(45deg);
}

.burger-btn-click span::before {
	transform: rotate(-45deg);
}




