.aboutme
	background-color: $color_bg_grey
	
	&__conteiner
		padding-top: 9px
		display: grid
		grid-template-columns: 1fr 1fr

	&__text
		display: flex
		align-items: center

	&__photo
		justify-self: end

	&__ellipse
		background-image: url(../../img/ellipse.svg)
		background-repeat: no-repeat
		background-position-x: 76px
		position: absolute
		width: 100vw

	&__title
		margin: 18px 0
		font-size: calc(14px + 4vw)
		font-weight: 900
		color: $color_html

	&__subtitle
		margin-bottom: 45px
		font-size: calc(14px + 1vw)
		color: $color_grey






.button-orange
	display: block
	width: 270px
	height: 60px
	border: none
	background-color: $color_orange
	font-size: 18px
	color: #fff
	text-align: center
	line-height: 60px
	transition: background $time_hover, color $time_hover

	&:hover
		background-color: $color_pink

.aboutme__text-conteiner
		margin-bottom: 95px


