@import '_fonts'

@import '_normalize'


$color_pink: #ff2f96
$color_html: #1f1f24
$color_bg_grey: #fbfbfb
$color_backing: rgba(255,47,150,0.97)

$border_pink: 1px solid $color_pink

$time_hover: .2s
$time_menu: .2s


* 
	box-sizing: border-box
	margin: 0
	padding: 0


html
	font-family: Roboto, sans-serif;
	color: $color_html

ul 
	list-style: none

a
	text-decoration: none


.visually-hidden
	position: absolute !important
	clip: rect(1px, 1px, 1px, 1px)
	padding: 0 !important
	border: 0 !important
	height: 1px !important
	width: 1px !important
	overflow: hidden


.conteiner
	max-width: 1210px
	margin: 0 auto
	padding-left: 20px
	padding-right: 20px


@import '_header'

@import '_main.sass'









@import '_media.sass'







