
.footer {
	display: flex;
	flex-flow: nowrap;
	justify-content: space-between;
	padding: 84px 20px 60px;
}
@media (max-width: 824px) {
	.footer {
		flex-flow: wrap;
	}

	.footer__menu, .footer-contact, .footer-order-a-call {
		margin-bottom: 30px;
	}
}

@media (max-width: 624px) {
	.footer {
		flex-direction: column;
		padding: 30px 20px;
	}
}

.footer__menu_li {
	display: inline-block;
	margin-bottom: 16PX;
	font-weight: 400;
	color: #8993ad;
	transition: 0.4s;
}

.footer__menu_li:hover {
	color: #ff2f96; 
}

.footer__contact {
	padding-right: 22px;
	padding-left: 16px;
	margin-bottom: 30px;
	font-size: 25px;
	font-weight: 400;
	color: #1f1f24;
	vertical-align: middle;
	display: block;
	transition: 0.4s;
}

.footer__contact:hover {
	color: #ff2f96; 
}

@media (max-width: 824px) {
	.footer__contact {
		color: #8993ad;
	}

	.footer__contact {
		font-size: 16px;
	}
}


.footer__contact_icon_conteiner {
	margin-top: 20px;
}

.footer__contact_icon {
    fill: #8993ad;
	width: 30px;
	height: 30px;
	transition: 0.4s;
}

.footer__contact_icon:hover {
    fill: #ff2f96;
	width: 30px;
	height: 30px;
}

.footer__contact_icon_conteiner a {
	margin-left: 10px;
}

.footer__contact_icon_conteiner a:last-child {
	margin-left: 18px;
}


.copyright {
	background-color: #31293c;
	text-align: center;
	padding: 30px;
}

.copyright small {
	font-size: 16px; 
	color: #fff;
}

@media (max-width: 1024px) {
	.footer {
		padding: 104px 20px 63px;
	}
	.copyright small {
		font-size: 12px; 
	}
}