.header {
	display: flex;
	flex-flow: nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 26px 20px;
	font-weight: 700;
}

.header__nav {
	flex-grow: 1;
	display: flex;
	justify-content: flex-start;
}

.header__nav_menu {
	display: flex;
	flex-flow: nowrap;
	justify-content: space-between;
}

.header__nav_menu_list {
	margin-right: 30px;
	transition: 0.4s;
}

.header__nav_menu_list:hover {
	color: #ff2f96; 
}

.header__phone {
	margin: 0 20px;
	font-size: 26px;
	transition: 0.4s;
}

.header__phone:hover {
	color: #ff2f96; 
}

.button__size_circle {
	display: none;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	border: 1px solid #f00c6b;
	background-color: transparent;
	cursor: pointer;
	transition: 0.4s;
}

/* ============ burger меню ============ */
.burger {
	display: none;
	margin-right: 10px;
	background-color: transparent;
	position: relative;
}

.burger-btn span,
.burger-btn span::before,
.burger-btn span::after {
	position: absolute;
	left: 0;
	top: 0;
	width: 45px;
	height: 6px;
	transition: 0.4s;
	background: linear-gradient(13.0deg, rgba(255,143,90,0.9) 26%, rgba(255,47,150,0.95) 72%); 
}

.burger-btn span::before,
.burger-btn span::after {
	content: '';
}

.burger-btn span::before {
	transform: translateY(-8px);
	margin-top: -6px;
}

.burger-btn span::after {
	transform: translateY(8px);
	margin-top: 6px;
}

.burger-btn-click span {
	width: 0;
	margin-left: 0;
}
.burger-btn-click span::after {
	transform: rotate(45deg);
	margin-top: 0;
}

.burger-btn-click span::before {
	transform: rotate(-45deg);
	margin-top: 0;
}

@media (max-width: 1024px) {
	.header__nav_click {
		transform: translateX(368px);
	}

	.header__nav {
		position: absolute;
		top: 120px;
		left: -260px;
		width: 250px;
		z-index: 20;
		transition: 0.6s linear;
		background-color: #fff;
		box-shadow:0px 0px 8px 0px rgba(0,0,0,0.16);
	}

	.header__nav_menu {
		flex-direction: column;
	}

	.header__nav_menu li {
		width: 250px;
		height: 40px;
		border-bottom: 1px solid #d6d6d6;
		text-align: center;
		line-height: 40px;

	}

	.header__phone {
		flex-grow: 3;
		text-align: end;
	}

	.header__nav_menu_list {
		font-size: 22px;
		font-weight: 400;
	}

	.burger {
		display: inline-block;
		flex-grow: 1;
	}
}

@media (max-width: 750px) {
	.header__button {
		display: none;
	}

	.button__size_circle {
		display: block;
	}
}



@media (max-width: 425px) {
	
	.burger-btn span,
	.burger-btn span::before,
	.burger-btn span::after {
		width: 25px;
		height: 3px;
		margin-top: 0;
	}

	.burger-btn-click span {
			width: 0;
			margin-left: 0;
		}

	.header__phone {
		font-size: 16px;
	}

	.button__size_circle {
		width: 30px;
		height: 30px;
	}

	.header {
		padding: 35px 20px;
	}

	.header__nav_menu_list {
		font-size: 20px;
	}

	.header__nav_click {
		transform: translateX(250px);
	}

	
}