.animate {
	font-size: 45px;
	font-weight: 700;
	position: absolute;
	z-index: 0;
	transition: transform 10s, rotate 10s;

	background: linear-gradient(13.0deg, rgba(255,143,90,1) 26%, rgba(255,47,150,1) 72%); 
	-webkit-background-clip: text; 
	color: transparent;
}

.animate__conteiner {
	position: relative;
}

.animate_1 {
	left: 40%;
	top: 10%;
}

.animate_2 {
	left: 47%;
	top: 55%;
}

.animate_3 {
	left: 12%;
	top: 76%;
}

.animate_4 {
	left: 40%;
	top: -10%;
}

.animate_5 {
	left: 30%;
	top: 105%;
}

.main__aboutme:hover .animate_1 {
	transform: translate(-400px, 10px) rotate(80deg);
}

.main__aboutme:hover .animate_2 {
	transform: translate(-200px, 10px) rotate(110deg);
}

.main__aboutme:hover .animate_3 {
	transform: translate(400px, 30px) rotate(150deg);
}

.main__aboutme:hover .animate_4 {
	transform: translate(100px, 180px) rotate(-60deg);
}

.main__aboutme:hover .animate_5 {
	transform: translate(-270px, -180px) rotate(-60deg);
}

@media (max-width: 1024px) {

	.animate_1 {
		left: 47%;
	}

	.main__aboutme:hover .animate_3 {
		transform: translate(200px, 30px) rotate(150deg);
	}

}

@media (max-width: 768px) {

	.animate {
		font-size: 30px;
	}

	.animate_1 {
		left: 30%;
		top: 4%;
	}

	.main__aboutme:hover .animate_1 {
		transform: translate(200px, 0) rotate(80deg);
	}

	.animate_2 {
		left: 6%;
	}

	.main__aboutme:hover .animate_2 {
		transform: translate(100px, 200px) rotate(110deg);
	}

	.animate_3 {
	 left: 6%;
	 top: -10%;
	}

	.main__aboutme:hover .animate_3 {
		transform: translate(50px, 120px) rotate(20deg);
	}

	.animate_4 {
	 left: 47%;
	 top: 53%;
	}

	.main__aboutme:hover .animate_4 {
		transform: translate(-100px, -10px) rotate(-60deg);
	}

	.animate_5 {
	 left: 90%;
	 top: 5%;
	}

	.main__aboutme:hover .animate_5 {
		transform: translate(-200px, -80px) rotate(-60deg);
	}
}

@media (max-width: 425px) {

	.animate {
		font-size: 20px;
	}

	.animate_1 {
		left: 7%;
	}

	.main__aboutme:hover .animate_1 {
		transform: translate(50px, -20px) rotate(80deg);
	}

	.animate_3 {
	 left: 21%;
	 top: 13%;
	}

	.main__aboutme:hover .animate_3 {
		transform: translate(-60px, 20px) rotate(20deg);
	}


	.animate_5 {
	 left: 87%;
	 top: 8%;
	}

	.main__aboutme:hover .animate_5 {
		transform: translate(-50px, -30px) rotate(-60deg);
	}
}



/*---------------------------------------------*/
.main__aboutme {
	padding-top: 30px;
	position: relative;
	background-color: #fbfbfb;
	overflow: hidden;
	z-index: 0;
	transition: transform 20s;
}

.aboutme__ellipse {
	background-image: url(../../img/ellipse.svg);
	background-repeat: no-repeat;
	width: 50%;
	height: 100%;
	position: absolute;
	right: -6%;
}

.aboutme {
	display: flex;
}

.aboutme__text-conteiner {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

.aboutme__text {
	z-index: 1;
	display: flex;
	flex-direction: column;
	padding-bottom: 54px;
}

.aboutme__title {
	margin: 0;
	font-size: 80px;
	font-weight: bold;
	color: #1f1f24;
	padding-bottom: 17px;
}


.aboutme__subtitle {
	font-size: 25px;
	font-weight: 400;
	color: #8993ad;
	padding-bottom: 17px;
}

.photo__picture {
	display: flex;
}

.photo__img {
	padding-left: 25px;
	display: flex;
	align-items: flex-end;
	z-index: 2;
}

/*===================== i-do =======================*/

.main__skills {
	font-size: 54px;
	font-weight: 700;
	color: #262626;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.main-title {
	font-size: 54px;
	font-weight: 700;
	color: #262626;
	padding: 90px 20px;
    text-align: center;
}

.skills {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.skills__item {
	margin-bottom: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.skills__img {
	width: 80px;
	height: 80px;
}

.skills__p {
	max-width: 260px;
	font-size: 20px;
	line-height: 30px;
	font-weight: 400;
	color: #8993ad;
	text-align: center;
	margin: 15px 0 40px;
}

/*==================== portfolio ====================*/
.portfolio {
		background-color: #fbfbfb;
}

.portfolio__conteiner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin-top: 75px;
	padding-bottom: 100px;
}

.slider {
	width: 100%;
	padding: 0 30px 93px;
}

.portfolio__header {
	margin-top: 42px;
	text-align: center;
	font-size: 20px;
	color: #8993ad;
}

.owl-dots {
	text-align: center;
	margin-top: 10px;
}

.owl-dot {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	margin: 0 4px;
}

button.active {
	background: #ff4e2e;
}

.owl-nav {
	position: relative;
}

.owl-nav button {
	position: absolute;
	top: -231px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.17);
}

.owl-nav button:hover {
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.35);

}

.owl-prev {
	left: -32px;
}

.owl-next {
	right: -32px;
}

.prev {
	background: url("../../img/prev.svg") center no-repeat;
	background-position: 50% 50%;
	width: 100%;
	height: 100%;
	background-size: 23px 30px;
}

.next {
	background: url("../../img/next.svg") center no-repeat;
	background-position: 50% 50%;
	width: 100%;
	height: 100%;
	background-size: 23px 30px;
}

.portfolio__butten {
	display: flex;
	justify-content: center;
}

/*======================== price ========================*/
.main__price {
	width: 100%;
	background: linear-gradient(13.0deg, #ff8f5a 26%, #ff2f96 72%);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 0;
	overflow: hidden;
	color: #fff;
}

.price__conteiner {
	padding-bottom: 58px;
	position: relative;
	z-index: 3;
}

.price__header {
	margin: 72px 70px 15px 115px;
	font-size: 45px;
	line-height: 60px;
	font-weight: 700;
	color: #ffffff;
}

.price__small {
	padding: 18px 283px 20px 113px;
	font-size: 20px;
	line-height: 30px;
	display: flex;
	flex-wrap: nowrap;
}

.price__small small {
	margin-left: 10px;
}

.animate__price {
	font-size: 30px;
	font-weight: 700;
	position: absolute;
	z-index: 1;
	transition: transform 10s, rotate 10s;
	color: #fff;
}

.animate__price_1 {
	left: 70%;
	top: 10%;
	transform: rotate(60deg);
}

.animate__price_2 {
	left: 10%;
	top: 30%;
	transform: rotate(25deg);
}

.animate__price_3 {
	right: 10%;
	bottom: 10%;
	transform: rotate(-30deg);
}

.animate__price_4 {
	left: 20%;
	bottom: 10%;
	transform: rotate(62deg);
}

.animate__price_5 {
	left: 50%;
	bottom: 13%;
	transform: rotate(62deg);
}

.main__price:hover .animate__price_1{
	transform: translate(-150px, 10px) rotate(180deg);
}

.main__price:hover .animate__price_2{
	transform: translate(70px, -70px) rotate(110deg);
}

.main__price:hover .animate__price_3{
	transform: translate(-100px, -50px) rotate(-80deg);
}

.main__price:hover .animate__price_4{
	transform: translate(160px, 30px) rotate(-60deg);
}

.main__price:hover .animate__price_5{
	transform: translate(180px, 10px) rotate(-60deg);
}

@media (max-width: 1024px) {
	.animate__price_2 {
		top: 13%;
	}

	.main__price:hover .animate__price_2{
		transform: translate(240px, -30px) rotate(110deg);
	}

	.main__price:hover .animate__price_5{
		transform: translate(110px, 10px) rotate(-60deg);
	}
}

@media (max-width: 768px) {
	.animate__price_1 {
		left: 80%;
	}

	.main__price:hover .animate__price_2{
		transform: translate(140px, -30px) rotate(110deg);
	}

	.main__price:hover .animate__price_3{
		transform: translate(-90px, 10px) rotate(-80deg);
	}

}

@media (max-width: 425px) {
	.animate__price_1 {
		top: 3%;
	}

	.main__price:hover .animate__price_1{
		transform: translate(-30px, 10px) rotate(180deg);
	}

	.animate__price_2 {
		left: 5%;
		top: 4%;
	}

	.main__price:hover .animate__price_2{
		transform: translate(80px, -4px) rotate(110deg);
	}


	.animate__price_3 {
		bottom: 50%;
		transform: rotate(-130deg);
	}


	.animate__price_4 {
		left: 20%;
		bottom: 4%;
		transform: rotate(62deg);
	}

	.main__price:hover .animate__price_4{
		transform: translate(90px, 20px) rotate(-60deg);
	}

	.animate__price_5 {
		left: 50%;
		bottom: 8%;
		transform: rotate(62deg);
	}

}

/*-----------------------------------------*/

@media (max-width: 1200px) {

	.aboutme__ellipse{
		width: 60%;
	}

	.aboutme__title {
		font-size: 60px;
	}

	.skills__p{
		font-size: 16px;
	}

}





@media (max-width: 1024px) {

	.aboutme__title {
		font-size: 53px;
		padding-bottom: 24px;
	}

	.aboutme__subtitle {
		font-size: 20px;
		padding-bottom: 20px;
	}

	.skills {
		width: 80%;
		justify-content: space-around;
	}

	.skills {
		flex-wrap: wrap;
	}

	.skills__p{
		font-size: 20px;
	}

	.portfolio__conteiner {
		margin-top: 90px;
		padding: 10px 0 104px;
	}

	.portfolio__header {
		margin-top: 18px;
		text-align: center;
		font-size: 25px;
	}
	
	.owl-dots {
		margin-top: 104px;
	}

	.slider {
		padding: 0 30px 100px;
	}

	.button__color_orange {
		width: 320px;
		height: 70px;
	}

	.price__header {
		margin: 80px 0px 15px 0px;
	}

	.price__small {
		padding: 18px 190px 20px 0;
	}

	.aboutme__ellipse {
		background-size: cover;
		width: 58%;
		height: 100%;
		right: -56%;
		right: -3%;
		top: 20%;
	}

	.photo__img {
		padding-left: 0;
	}

	.aboutme__text {
		padding-bottom: 16px;
	}

}





@media (max-width: 1000px) {
	
	.aboutme__text {
		display: flex;
		flex-direction: column;
	}
	
	.aboutme__title {
	 font-size: 36px;
	}

	.aboutme__subtitle {
		font-size: 16px;
	}

	.photo__picture {
		display: flex;
		justify-content: center;
	}

}



@media (max-width: 768px) {

	.aboutme__ellipse {
		width: 75%;
	}

	.aboutme__text {
		padding-bottom: 250px;
	}

}



@media (max-width: 750px) {

	.aboutme {
		flex-direction: column;
	}

	.aboutme__ellipse {
		width: 184%;
		top: 13%;
		right: -30%;
	}

	.aboutme__text {
		padding-bottom: 0;
	}
 
	.aboutme__text-conteiner {
		justify-content: center;
		background-color: #fff;
		z-index: 1;
		margin: 0 -20px;
		padding-top: 40px;
	}

	.aboutme__subtitle {
		text-align: center;
	}

	.aboutme__photo {
		order: -1;
	}

	.photo__picture {
		height: 100%;
		align-items: flex-end;
	}

	

	.main__aboutme {
		padding-top: 0;
	}

	.main__button_color_orange {
		font-size: 16px;
	}

	.main-title {
		font-size: 30px;
		padding: 30px 20px;
	}

	.skills__p {
		font-size: 16px;
		line-height: 24px;
	}

	.price__header {
		font-size: 35px;
  line-height: 54px;
	}

	.price__small {
		padding: 18px 0;
	}
	
	.animate__price {
		font-size: 18px;
	}

}








@media (max-width: 425px) {
	
	.aboutme__text {
		background-color: #fff;
		width: 100%;
		align-items: center;
		padding-bottom: 0;
	}

	.aboutme__text-conteiner {
		padding-left: 0;
		z-index: 1;
  margin: 0 -90px;
	}

	.aboutme__subtitle {
		font-size: 15px;
		padding: 13px 0 10px;
		width: 270px;
		line-height: 21px;
	}

	.aboutme__title {
		font-size: 27px;
		margin-top: 12px;
		padding-bottom: 0;
	}

	.aboutme__ellipse {
		background-size: cover;
	 width: 176%;
		height: 62%;
		right: -44%;
		top: 12%;
	}
	.main__button_color_orange {
		width: 280px;
		height: 54px;
		line-height: 54px;
	}

	.photo__img {
		padding-left: 60px;
	}

	.main-title {
		padding: 25px 20px 40px;
	}

	.skills__img {
		width: 60px;
		height: 60px;
	}

	.skills__p {
		margin: 10px 0 40px;
	}

	.skills__item {
		margin-bottom: 13px;
	}

	.portfolio__conteiner {
		margin-top: 5px;
	}

	.portfolio__header {
		margin-top: 52px;
		font-size: 18px;
	}

	.owl-dots {
		margin-top: 40px;
	}

	.owl-dot {
		width: 10px;
		height: 10px;
	}

	.slider{
		padding: 0 30px 48px;
	}

	.portfolio__conteiner {
		padding: 10px 0 53px;
	}

	.price__header {
		margin: 40px 0 15px;
		font-size: 28px;
	 line-height: 40px;
	}

	.price__conteiner {
		padding-bottom: 0;
	}

	.price__small {
		padding: 18px 0 44px;
	}
}
